@import '../component/variables';
// PC
section {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  .inner {
    display: flex;
    width: 100%;
    height: 100%;

    .main-bg {
      position: relative;
      display: block;
      width: 50%;
      height: 100%;

      .bg {
        width: 100%;
        height: 100%;
        background-image: url(../img/main-bg.jpeg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    .main-text {
      position: relative;
      width: 50%;
      overflow: hidden;

      .box {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding-left: 10%;

        .dots {
          .dot {
            position: absolute;
            border-radius: 100%;
            z-index: 11;

            &:nth-of-type(1) {
              top: -80px;
              right: -80px;
              width: 160px;
              height: 160px;
              background-color: $blue;
              animation: float 6s ease-in-out infinite;

              @media (min-width: 768px) {
                top: -190px;
                right: -190px;
                width: 400px;
                height: 400px;
              }
            }

            &:nth-of-type(2) {
              bottom: -120px;
              left: -120px;
              width: 240px;
              height: 240px;
              background-color: $orange;
              animation: float 8s ease-in-out infinite;
            }

            &:nth-of-type(3) {
              bottom: -50px;
              right: -50px;
              width: 100px;
              height: 100px;
              background-color: $yellow;
              animation: float 4s ease-in-out infinite;
            }
          }
        }

        .title {
          font-size: 30px;
          font-weight: 500;
          letter-spacing: 0.8px;
          margin-bottom: 10px;
          transition: .3s;
          transform-origin: top right;
        }

        .title-lg {
          font-size: 80px;
          font-weight: 800;
          margin-bottom: 50px;
          transform-origin: right top;
          transition: .3s;
        }

        .title-sm {
          font-size: 24px;
          letter-spacing: -0.3px;
        }
      }
    }
  }
}

.profile {
  background: linear-gradient($primary 50%, transparent 50%);

  .inner {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 100px;

    > .title {
      font-size: 40px;
      font-weight: 800;
      margin-bottom: 20px;
      color: $white;
    }
    .card-wrap {
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;

      .card {
        width: 33.3333%;
        margin-right: 20px;

        &:nth-child(3) {
          .card-inner {
            .card-header {
              .title {
                font-size: 18px;
              }
            }

            .text-item-list {
              li {
                font-size: 18px;
              }
            }
          }
        }

        &:last-child {
          margin-right: 0;
        }

        .card-inner {
          background-color: #fff;
          border-radius: 5px;
          padding: 40px 20px;
          box-shadow: 1px 1px 10px rgba(0, 0, 0, .2);

          .card-header {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 40px;

            i {
              font-weight: bold;
              font-size: 24px;
              margin-bottom: 10px;
              color: $primary;
            }

            .title {
              display: block;
              text-align: center;
              font-size: 26px;
              text-transform: uppercase;
              font-weight: bold;
              color: $primary;
            }
          }

          .item-list {
            padding: 0 20px;

            ul {
              li {
                span {
                  &:first-child {
                    display: block;
                    font-size: 16px;
                    font-weight: bold;
                    text-transform: uppercase;
                    margin-bottom: 10px;
                    letter-spacing: -.4px;
                  }

                  &:nth-child(2) {
                    display: block;
                    margin-bottom: 40px;
                    font-size: 18px;
                    line-height: 30px;
                    text-transform: uppercase;
                    letter-spacing: -.4px;

                    a {
                      display: block;
                      color: inherit;
                      text-transform: lowercase;
                      text-decoration: none;
                    }
                  }
                }
              }
            }
          }

          .text-item-list {
            ul {
              li {
                position: relative;
                font-size: 16px;
                line-height: 30px;
                padding-left: 20px;
                margin-bottom: 10px;
                text-transform: uppercase;

                &:last-child {
                  margin-bottom: 0;
                }

                &::before {
                  content: '';
                  width: 4px;
                  height: 4px;
                  position: absolute;
                  top: 50%;
                  transform: translateY(-50%);
                  left: 0;
                  background-color: $primary;
                  border-radius: 50%;
                }
              }
            }
          }
        }
      }
    }
  }
}

.career {
  .inner {
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 10%;
    align-items: flex-start;

    .year-info {
      width: 25%;
      padding-top: 50px;

      .heading {
        font-size: 22px;
        font-weight: 900;
        margin-bottom: 10px;
        text-transform: uppercase;
      }

      .year {
        font-size: 18px;
        font-weight: 500;
      }
    }

    .work-list {
      width: 75%;
      padding-top: 50px;

      ul {
        display: flex;
        width: 100%;
        flex-direction: column-reverse;

        .item {
          position: relative;
          display: flex;
          width: 100%;
          border-bottom: 2px solid $text;

          a {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            padding: 20px 10px 18px;
            color: $text;
            text-decoration: none;

            &:hover {
              color: $primary;
            }

            .title {
              width: calc(100% - 140px);
              font-size: 20px;
              font-weight: bold;
            }

            .year {
              width: 140px;
              font-size: 18px;
              font-weight: 500;
              text-align: right;
            }
            &:hover {
              .title {
                transform: translateX(10px);
                color: $primary;
                transition: .3s;
              }
            }
          }

          &:last-child {
            border-top: 2px solid $text;
          }
        }
      }

      .alert {
        color: $primary;
        margin-top: 10px;
        font-size: 14px;
      }
    }
  }
}

.section05 {
  background: seagreen;
}

// MOBILE
@media (max-width: 799px) {
  #wrap {
    display: block;
    width: 100%;
    height: auto;
    flex-wrap: nowrap;
  }

  section {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    justify-content: initial;
    align-items: initial;
  }

  .main {
    height: 100vh;

    .inner {
      flex-direction: column;
      height: 100vh;

      .main-bg {
        width: 100%;
        height: 50%;
      }

      .main-text {
        width: 100%;
        height: 50%;

        .box {
          padding-left: 0;
          align-items: center;

          .title {
            font-size: 16px;
          }

          .title-lg {
            font-size: 50px;
            margin-bottom: 30px;
          }

          .title-sm {
            font-size: 20px;
            margin-bottom: 0;
          }

          .dots {
            .dot {
              &:nth-of-type(1) {
                top: -50px;
                right: -60px;
              }
              &:nth-of-type(2) {
                bottom: -150px;
                left: -130px;
              }
              &:nth-of-type(3) {
                bottom: -50px;
                right: -30px;
              }
            }
          }
        }
      }
    }
  }

  .profile {
    background: rgba(186, 207, 198,.5);

    .inner {
      width: 100%;
      max-width: 768px;
      margin: 0 auto !important;
      padding: 0;

      > .title {
        font-size: 40px;
        font-weight: 800;
        margin-bottom: 20px;
        color: $white;
      }

      .card-wrap {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        align-items: initial;
        padding-top: 50px;

        .card {
          width: calc(100% - 40px);
          margin-right: 0;
          margin-bottom: 20px;
          padding: 0 20px;

          &:nth-child(3) {
            .card-inner {
              .text-item-list {
                li {
                  font-size: 16px;
                }
              }
            }
          }

          .card-inner {
            height: auto !important;

            .item-list {
              ul {
                li {
                  margin-bottom: 5px;

                  span {
                    &:first-child {
                      font-size: 16px;
                    }

                    &:nth-child(2) {
                      margin-bottom: 20px;
                      font-size: 16px;
                      line-height: 18px;
                    }
                  }
                }
              }
            }

            .text-item-list {
              ul {
                li {
                  font-size: 14px;
                  line-height: 24px;
                  margin-bottom: 5px;
                }
              }
            }
          }
        }
      }
    }
  }

  .career {
    .inner {
      display: flex;
      flex-direction: column;
      height: auto;
      width: calc(100% - 40px);
      max-width: 768px;
      padding: 30px 20px;
      align-items: initial;

      .year-info {
        width: 100%;
        padding-top: 0;

        .heading {
          font-size: 24px;
        }

        .year {
          font-size: 16px;
        }
      }

      .work-list {
        width: 100%;
        padding-top: 30px;

        ul {
          width: 100%;

          .item {
            a {
              padding: 15px 5px;

              .title {
                width: calc(100% - 100px);
                font-size: 18px;
              }

              .year {
                width: 100px;
                font-size: 14px;
              }
            }
          }
        }

        .alert {
          font-size: 12px;
          line-height: 20px;
        }
      }
    }

    &:nth-child(2n+2) {
      background: rgba(186, 207, 198,.5);
    }
  }
}
