@font-face {
  font-family: 'TT Commons';
  font-weight: normal;
  font-style: normal;
  src: local('TT Commons'),
  url('../fonts/TTCommons/TTCommons-Regular.woff') format('woff'),
  url('../fonts/TTCommons/TTCommons-Regular.eot') format('embedded-opentype'),
  url('../fonts/TTCommons/TTCommons-Regular.ttf') format('truetype');
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039, U+005B-0060, U+007B-007E, U+26;
}

@font-face {
  font-family: 'TT Commons';
  font-weight: normal;
  font-style: normal;
  src: local('TT Commons'),
  url('../fonts/TTCommons/TTCommons-Regular.woff') format('woff'),
  url('../fonts/TTCommons/TTCommons-Regular.eot') format('embedded-opentype'),
  url('../fonts/TTCommons/TTCommons-Regular.ttf') format('truetype');
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039, U+005B-0060, U+007B-007E, U+26;
}

@font-face {
  font-family: 'TT Commons';
  font-weight: bold;
  font-style: normal;
  src: local('TT Commons'),
  url('../fonts/TTCommons/TTCommons-Bold.woff') format('woff'),
  url('../fonts/TTCommons/TTCommons-Bold.eot') format('embedded-opentype'),
  url('../fonts/TTCommons/TTCommons-Bold.ttf') format('truetype');
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039, U+005B-0060, U+007B-007E, U+26;
}

@font-face {
  font-family: 'TT Commons';
  font-weight: 800;
  font-style: normal;
  src: local('TT Commons'),
  url('../fonts/TTCommons/TTCommons-ExtraBold.woff') format('woff'),
  url('../fonts/TTCommons/TTCommons-ExtraBold.eot') format('embedded-opentype'),
  url('../fonts/TTCommons/TTCommons-ExtraBold.ttf') format('truetype');
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}

@font-face {
  font-family: 'TT Commons';
  font-weight: 500;
  font-style: normal;
  src: local('TT Commons'),
  url('../fonts/TTCommons/TTCommons-Medium.woff') format('woff'),
  url('../fonts/TTCommons/TTCommons-Medium.eot') format('embedded-opentype'),
  url('../fonts/TTCommons/TTCommons-Medium.ttf') format('truetype');
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}
