@import "variables";

.color-primary {
  color: $primary;
}

.color-red {
  color: #ef4b61;
}

.font-weight-bold {
  font-family: $font-bold;
  font-weight: bold;
}

.content-title {
  font-family: $font-bold;
  text-align: center;
  font-size: 27px;
  line-height: 40px;
  letter-spacing: -.68px;
}

.content-title-sm {
  text-align: center;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: -.42px;
  color: $text-02;
  margin-top: 8px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mr-10 {
  margin-right: 10px;
}

.mt-60 {
  margin-top: 60px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mr-30 {
  margin-right: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.text-link {
  color: #6291d0;
  letter-spacing: -.4px;

  &:focus, &:hover {
    color: #6291d0;
  }
}

.bg-purple {
  width: 100%;
  padding-bottom: 110px;
  background-color: #fafbfd;
}

.text-md {
  margin-bottom: 14px;
  font-size: 17px;
  font-family: $font-bold;
  font-weight: bold;
  letter-spacing: -.42px;
}

.text-normal {
  font-size: 14px;
  line-height: 24px;
}

.text-bottom {
  font-family: $font-medium;
  font-size: 21px;
  font-weight: 500;
  line-height: 31px;
  letter-spacing: -0.53px;
  text-align: center;
  color: $text-01;
  margin-bottom: 40px;
}

.btn-wrap {
  text-align: center;
  margin-bottom: 120px;
}

.border-bottom {
  border-bottom: 1px solid #e3e4e8 !important;
}

label {
  margin: 0;
}
