$text-01: #37354e;
$text-04: #afaeb8;
$text-03: #9b9aa6;
$text-02: #737183;
$blurple: #6839d3;
$white: #ffffff;
$sky: #8bceff;
$sun-yellow: #fcd532;
$primary : red;

$font: 'Noto Sans CJK KR Regular';
$font-medium: 'Noto Sans CJK KR Medium';
$font-bold: 'Noto Sans CJK KR Bold';
