//variable
$text-01: #37354e;
$text-04: #afaeb8;
$text-03: #9b9aa6;
$text-02: #737183;
$blurple: #6839d3;
$white: #ffffff;
$sky: #8bceff;
$sun-yellow: #fcd532;

$font: 'Noto Sans CJK KR Regular';
$font-medium: 'Noto Sans CJK KR Medium';
$font-bold: 'Noto Sans CJK KR Bold';

// bootstrap custom
$fot-family-base: 'Noto Sans CJK KR Regular';
$font-weight-base : normal;
$body-bg : #fff;
$body-color : $text-01;

$primary: $blurple;
$secondary: $text-04;
$link-hover-decoration: none !default;

$font-family-sans-serif: "Noto Sans CJK KR Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;



